{
  "openapi": "3.0.0",
  "info": {
    "title": "Notion API",
    "version": "2022-06-28",
    "description": "Notion API for managing pages, databases, and content"
  },
  "servers": [
    {
      "url": "https://api.notion.com/v1"
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search pages and databases",
        "description": "Search for pages and databases by title",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text to search for"
                  },
                  "sort": {
                    "type": "object",
                    "properties": {
                      "direction": {
                        "type": "string",
                        "enum": ["ascending", "descending"]
                      },
                      "timestamp": {
                        "type": "string",
                        "enum": ["last_edited_time"]
                      }
                    }
                  },
                  "filter": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "enum": ["page", "database"]
                      },
                      "property": {
                        "type": "string",
                        "enum": ["object"]
                      }
                    }
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "Pagination cursor"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "Number of results to return",
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchResult"
                      }
                    },
                    "next_cursor": {
                      "type": "string"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pages/{page_id}": {
      "get": {
        "operationId": "retrievePage",
        "summary": "Retrieve a page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          }
        }
      }
    },
    "/pages": {
      "post": {
        "operationId": "createPage",
        "summary": "Create a page",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": ["page", "database"]
          },
          "id": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": ["page"]
          },
          "id": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "parent": {
            "type": "object"
          }
        }
      },
      "CreatePageRequest": {
        "type": "object",
        "required": ["parent"],
        "properties": {
          "parent": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["page_id", "database_id"]
              },
              "page_id": {
                "type": "string"
              },
              "database_id": {
                "type": "string"
              }
            }
          },
          "properties": {
            "type": "object"
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}